.projects-page {
    width: 100%;

    h2 {
        font-size: 3rem;
        text-align: center;
        font-family: 'Poppins';
        letter-spacing: 1px;
    }

    .text-zone {
        width: 85%;
        padding-right: 1rem;
    }

    .project-showcase{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .project-item {
        background-color: #000000;
        padding: 2rem;
        border-radius: 2rem;
        border: 2px solid;
        border-color: #222222;
        animation: fadeIn 1s 1s linear both;
        transition: linear 0.3s;
    }

    .project-item:hover {
        background-color: #222222;
    }

    a {
        text-decoration: none;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        font-family: 'Poppins';
    }

    img {
        width: 100%;
        height: auto;
    }

    .project-btn {
        display: flex;
        margin-top: 2rem;
        gap: 2rem;
        font-style: none;
    }

}