h2 {
    animation: fadeIn 2s 1s linear both;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    font-weight: 400;
}

@media screen and (max-width: 60rem) {
    .about-page{
        .text-zone{
            top: 60%;
            width: 80%;
            overflow: scroll;
        }
    }
}