.home-page {

    .text-zone {
        position:absolute;
        top:50%;
        left: 20%;
        transform: translateY(-50%);
        width: 60%;
        max-height: 90%;
    }

    h1 {
        color: #ffff;
        font-size: 53px;
        margin: 0;
        font-family: 'Poppins';
        font-weight: 500;

        img {
            width: 60px;
            height: auto;
            margin-right: -12px;
            margin-bottom: -5px;
            animation: rotateIn 0.4s linear both;
            animation-delay:1s;
        }
    }

    h2 {
        margin-top: 20px;
        font-weight:500;
        font-size:18px;
        font-family: sans-serif;
        letter-spacing: 1px;
        animation: fadeIn 2s 1.8s backwards;
        opacity: 0.6;
    }
}